<div class="promo-bar">
  <div class="page-width">
    <div class="promo-bar__inner">
      <h2 class="promo-bar__heading">Get 20% off all sale items</h2>
      <p class="promo-bar__subtext">Use code EXTRA at Checkout</p>
      <a href="#" class="button">Shop Now</a>
    </div>
  </div>
</div>





{% schema %}
    {
        "name": "promotion section",
        "settings": [

            {
                "type": "text",
                "id": "my_text",
                "label": "My Text"
                
            }

        ],
        "presets": [
            {"name":"my promotion section"}
        ]
    }
{% endschema %}
